* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*background-image: linear-gradient(120deg, #e2c35d, #d88771);*/
    background-color: #FFE53B;
    background-image: linear-gradient(120deg, rgba(248, 221, 42, 0.911) 0%, rgba(248, 76, 76, 0.897) 74%);
    color: white;
    /*font-family: "Poppins", sans-serif;*/
    font-family: 'Comic Neue', cursive;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    transition: all 0.5s ease;
    color: #a75e52;
}
form input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
form button {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

form input:focus {
    outline: none;
}

form button {
    color: #f55a2ff1;
    background: white;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
}
form button:hover {
    background: #f55a2ff1;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: #742d19;
    font-size: 1.5rem;
    box-shadow: 2px 10px 20px -10px rgb(36, 35, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 010px;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: #f34616;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.5s ease;
}
.trash-btn:hover {
    background: white;
    color: #f34616;
}
.complete-btn:hover {
    background: white;
    color: rgb(54, 218, 54);
}

.complete-btn {
    background: rgb(54, 218, 54);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-check, .fa-trash {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    color: rgb(30, 255, 0);
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #ee4c1f;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 8px;
}

.select::after {
    content: "\25BC"; /* for adding the down arrow */
    position: absolute;
    background: rgba(253, 80, 28, 0.911);
    top: 0;
    right: 0;
    padding: 1rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    pointer-events: none;
    transition: all 0.5s ease;
}

.select:hover::after {
    background: white;
    color: #ff6f47;
}
